{% extends 'headerAndFooter.html' %}

{% block link %}
    <link rel="icon" href="../static/imgs/logo.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../static/imgs/logo.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mymusic.css') }}">
{% endblock %}
{% block title %}
    {{ username }}
{% endblock %}
{% block banner %}
    <div class="main_box">
        <div class="box_top">
            <a href="#">{{ args['name'] }}</a>
        </div>
        <div class="Content clearfix">
        </div>
        <script>
            var Content = document.getElementsByClassName('Content')[0];
            var add = function (name, id, num,username,type) {
                var div = document.createElement("div");
                div.className += 'subImgContent';
                var a1 = document.createElement("a");
                var h = '{{ url_for('AlbumAndList',id=0,type='LIST') }}' + '?id=' + id+'&username='+username;
                if(type=='ALBUM'){
                    console.log(num);
                    h = '{{ url_for('AlbumAndList',id=0,type='ALBUM') }}' + '?id=' + id+'&username='+username;
                }
                a1.href = h;
                var img = document.createElement("img");
                img.src = "../static/imgs/LIST/" + id + ".jpg";
                if(type=='ALBUM'){
                    img.src = "../static/imgs/ALBUM/" + id + ".jpg";
                }
                a1.appendChild(img);
                div.appendChild(a1);
                div.innerHTML+='<br/>';
                var a2 = document.createElement("a");
                a2.href = h;
                a2.className += 'text_a';
                var l=name.length;
                for (var i = 0; i < name.length; i++) {
                    if (i % 9 == 8) {
                        a2.innerHTML += '<br>';
                    } else {
                        a2.innerHTML += name[i];
                    }
                }
                {#if(name.length<=8)#}
                {#    a2.innerHTML+='<br>';#}
                {#a2.innerHTML=name;#}
                div.appendChild(a2);
                if (num % 5 == 4) {
                    div.style.marginRight=0;
                }
                Content.appendChild(div);

            }
            var args = {{ args|tojson }}
                console.log(args);
            var lists = args['lists'];
            for (var i = 0; i < lists.length; i++) {
                add(lists[i]['name'], lists[i]['id'], i,args['username'],lists[i]['type']);
            }
        </script>
    </div>
{% endblock %}